.demo-chart {
  height: 400px;
  width: 600px;
}

.my-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}

.left {
  width: 50%;
}

.right {
  min-height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  line-height: 50%;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  background-color: rgb(0, 0, 0);
  color: white;
}

button:hover {
  background-color: #222;
}

.box {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  background-color: var(--menu-color);
  width: 1050px;
  height: 40px;
  border: 37px black solid;
  border-radius: 20px;
  color: white;
}
