.demo-chart {
  height: 400px;
  width: 600px;
}

.my-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content:flex-start;
}

p {
  margin-left: 5px;
  margin-right: 5px;
}

button {
  height: 35px;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  background-color: rgb(0, 0, 0);
  color: white;
  margin-left: 5px;
}

button:hover {
  background-color: #222;
}

.box {
  display: flex;
  position: relative;
  background-color: var(--menu-color);
  width: 1200px;
  height: 50px;
  border: 7px black solid;
  border-radius: 20px;
  color: white;
  margin-bottom: 20px;
}

.flex {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  margin-top: 10px;
}

h6 {
  margin-left: 10px;
}
