<div class="my-container">
  <div class="box">
    <form (ngSubmit)="onLogin()">
      <h2>Logowanie</h2>
      <div class="form-group">
        <label for="username">Login:</label>
        <input type="text" id="username" [(ngModel)]="credentials.username" name="username" placeholder="" required>
      </div>
      <div class="form-group">
        <label for="password">Hasło:</label>
        <input type="password" id="password" [(ngModel)]="credentials.password" name="password" placeholder="" required>
      </div>
      <div class="form-buttons">
        <button type="submit" class="login-button" (click)="buttonClicked = 'login'">Zaloguj się</button>
        <button type="button" class="register-button" routerLink="/register">Zarejestruj się</button>
        <button type="button" class="register-button" routerLink="/menu">Kontynuuj jako gość</button>
      </div>
    </form>
    <div *ngIf="errorMessage">{{ errorMessage }}</div>
  </div>
</div>
