<div class="my-container">
  <div class="box">
    <div class="drop">
      <div class="plus" id="p1" (click)="OpenInterpolation()"></div>
      <div class="title" id="t1">Interpolacja</div>
      <i class="fa-solid fa-plus"></i>
    </div>
  </div>

  <div class="box">
    <div class="drop">
      <div class="plus" id="p1" (click)="OpenAproximation()"></div>
      <div class="title" id="t1">Aproksymacja</div>
      <i class="fa-solid fa-plus"></i>
    </div>
  </div>

  <div class="box">
    <div class="drop">
      <div class="plus" id="p1" (click)="OpenIntegral()"></div>
      <div class="title" id="t1">Całkowanie</div>
      <i class="fa-solid fa-plus"></i>
    </div>
  </div>

  <div class="box">
    <div class="drop">
      <div class="plus" id="p1" (click)="OpenAproximation()"></div>
      <div class="title" id="t1">Metoda Gaussa</div>
      <i class="fa-solid fa-plus"></i>
    </div>
  </div>
</div>
