<div class="my-container">
  <div class="box">
    <div class="drop">
      <div [ngClass]="{'minus': isVisible[0], 'plus': !isVisible[0]}" id="p1" (click)="Collapse('1')"></div>
      <div class="title" id="t1">Interpolacja</div>
      <i class="fa-solid fa-plus"></i>
    </div>
    <div class="option 1" id="rectangles" (click)="OpenInterpolation()">
      <p>Metoda liniowa</p>
    </div>
    <div class="option 1" id="rectangles" (click)="OpenInterpolation()">
      <p>Metoda trygonometryczna</p>
    </div>
  </div>

  <div class="space-taker" id="space-taker-1"></div>

  <div class="box">
    <div class="drop">
      <div [ngClass]="{'minus': isVisible[1], 'plus': !isVisible[1]}" id="p2" (click)="OpenAproximation()"></div>
      <div class="title" id="t2">Aproksymacja</div>
      <i class="fa-solid fa-plus"></i>
    </div>
  </div>

  <div class="box">
    <div class="drop">
      <div [ngClass]="{'minus': isVisible[2], 'plus': !isVisible[2]}" id="p3" (click)="Collapse('3')"></div>
      <div class="title" id="t3">Całkowanie</div>
      <i class="fa-solid fa-plus"></i>
    </div>
    <div class="option 3" id="riemann" (click)="OpenIntegral()" >
      <p>Metoda Riemanna</p>
    </div>
    <div class="option 3" id="trapezoids" (click)="OpenIntegral()">
      <p>Metoda trapezów</p>
    </div>
    <div class="option 3" id="monte-carlo" (click)="OpenIntegral()">
      <p>Metoda Monte-Carlo</p>
    </div>
    <div class="option 3" id="simpson" (click)="OpenIntegral()">
      <p>Metoda Simpsona</p>
    </div>
  </div>

  <div class="space-taker" id="space-taker-3"></div>

  <div class="box">
    <div class="drop">
      <div [ngClass]="{'minus': isVisible[3], 'plus': !isVisible[3]}" id="p4" (click)="OpenAproximation()"></div>
      <div class="title" id="t4">Metoda Gaussa</div>
      <i class="fa-solid fa-plus"></i>
    </div>
  </div>

  <div class="box">
    <div class="drop">
      <div [ngClass]="{'minus': isVisible[4], 'plus': !isVisible[4]}" id="p5" (click)="OpenAproximation()"></div>
      <div class="title" id="t5">Metoda Gaussa</div>
      <i class="fa-solid fa-plus"></i>
    </div>
  </div>

</div>
