@media (min-width: 576px) {
  .my-container {
    width: 100%;
  }
}

.plus {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 36px;
  height: 36px;
  border: 3px solid;
  transform: scale(var(--ggs,1));
  border-radius: 4px;
  float: left;
  top: 15px;
  left: 15px;

}
.plus::after,
.plus::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 20px;
  height: 4px;
  background: currentColor;
  border-radius: 5px;
  top: 13px;
  left: 5px
}
.plus::after {
  width: 4px;
  height: 20px;
  top: 5px;
  left: 13px
}

.minus {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 36px;
  height: 36px;
  border: 3px solid;
  transform: scale(var(--ggs,1));
  border-radius: 4px;
  float: left;
  top: 15px;
  left: 15px;

}
.minus::after,
.minus::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 20px;
  height: 4px;
  background: currentColor;
  border-radius: 5px;
  top: 13px;
  left: 5px
}

.plus:hover{
  color: var(--primary-color);
  cursor: pointer;
}
.plus:hover + .title {
  color: var(--primary-color);
  cursor: pointer;
}

.minus:hover{
  color: var(--primary-color);
  cursor: pointer;
}
.minus:hover + .title {
  color: var(--primary-color);
  cursor: pointer;
}

.box {
  display: block;
  margin-top: 25px;
  margin-bottom: 25px;
  position: relative;
  background-color: var(--menu-color);
  width: 1050px;
  height: 80px;
  border: 7px black solid;
  border-radius: 35px;
  color: white;
}

.space-taker {
  display: block;
  position: relative;
  width: 1050px;
  display: none;
}

#space-taker-1 {
  margin-top:80px;
}

#space-taker-3 {
  margin-top:160px;
}

.box:first-child {
  margin-top: 50px;
}

.drop {
  display: flex;
  justify-content: flex-start;
  height: 73px;
}

.option {
  display: block;
  position: relative;
  background-color: var(--menu-color);
  width: 987px;
  left: 25px;
  height: 40px;
  border-left: 7px black solid;
  border-right: 7px black solid;
  border-bottom: 7px black solid;
  color: white;
  visibility: hidden;
}

.option > p {
  margin-left: 5px;
  font-weight: 500;
}

.option > p:hover {
  color: var(--primary-color);
  cursor: pointer;
}

.title {
  margin: 0;
  margin-left: 30px;
  padding: 0;
  font-size: 26px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 3px;
}

.inputs {
  display: block;
  position: absolute;
  background-color: var(--menu-color);
  width: 70vw;
  height: 80px;
  border: 7px black solid;
  border-radius: 35px;
  color: white;
  transition: opacity 1s ease;
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 15px;
  margin-bottom: 13px;
}

.main > input {
  height: 40px;
  background-color: white;
  border: 2px black solid;
  border-radius: 20px;
}

.main > main::placeholder {
  color: black;
  font-style: italic;
  letter-spacing: 0.5px;
}

.main > button {
  width: 80px;
  height: 40px;
  background-color: #eeeeee;
  border: 2px black solid;
  border-radius: 20px;
  color: black;
  font-style: italic;
  letter-spacing: 0.5px;
}

.inputs > button:hover {
  background-color: var(--primary-color);
}

.point {
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
  float: left;
  width: 630px;
  height: 34px;
  border: 5px black solid;
  background-color: var(--menu-color);
  color: white;
  transition: opacity 1s ease;
  margin-left: 25px;
}

.point > input {
  height: 20px;
  background-color: white;
  border: 2px black solid;
  border-radius: 10px;
  width: 150px;
}

.point > point::placeholder {
  color: black;
  font-style: italic;
  letter-spacing: 0.5px;
  font-size: 12px;
}
