<div class="my-container">

  <section>
    <h2>Interpolacja wielomianowa</h2>
    <p>Interpolacja wielomianowa polega na znalezieniu wielomianu, który przechodzi przez dane punkty. Jest szczególnie użyteczna, gdy mamy niewielką liczbę punktów i chcemy uzyskać funkcję opisującą dane. Najczęściej używa się wielomianu Lagrange'a, którego wzór wygląda następująco:</p>
    <div class="formula">
        L(x) = sum(i=0 to n) y_i * prod(j != i) (x - x_j) / (x_i - x_j)
    </div>
    <img src="../../shared/pictures/polynomial.png" alt="Przykład interpolacji wielomianowej">
    <p>Więcej informacji znajdziesz na stronie: <a href="https://pl.wikipedia.org/wiki/Interpolacja_wielomianowa" class="link">Interpolacja wielomianowa - Wikipedia</a>.</p>
  </section>
<section>
  <h2>Interpolacja wielomianowa</h2>
  <p>Interpolacja wielomianowa polega na znalezieniu wielomianu, który przechodzi przez dane punkty. Jest szczególnie użyteczna, gdy mamy niewielką liczbę punktów i chcemy uzyskać funkcję opisującą dane. Najczęściej używa się wielomianu Lagrange'a, którego wzór wygląda następująco:</p>
  <div class="formula">
      L(x) = sum(i=0 to n) y_i * prod(j != i) (x - x_j) / (x_i - x_j)
  </div>
  <img src="../../shared/pictures/polynomial.png" alt="Przykład interpolacji wielomianowej">
  <p>Więcej informacji znajdziesz na stronie: <a href="https://pl.wikipedia.org/wiki/Interpolacja_wielomianowa" class="link">Interpolacja wielomianowa - Wikipedia</a>.</p>
</section>

<section>
  <p>Interpolacja wielomianowa to metoda, która polega na znalezieniu wielomianu przechodzącego przez zbiór zadanych punktów. Jest szczególnie przydatna w sytuacjach, gdy dysponujemy ograniczoną liczbą próbek i chcemy uzyskać funkcję, która może aproksymować dane. Jednym z najczęściej stosowanych podejść jest wykorzystanie wielomianu Lagrange'a. Jego konstrukcja opiera się na wagach zależnych od punktów interpolacji. Wzór jest podany poniżej:</p>
  <p>Wielomian Lagrange'a umożliwia dokładne odwzorowanie funkcji w zadanych punktach, ale może być wrażliwy na tzw. efekt Rungego, szczególnie gdy liczba punktów jest duża.</p>
  <img src="example-polynomial.png" alt="Przykład interpolacji wielomianowej">
  <p>Więcej informacji znajdziesz na stronie: <a href="https://pl.wikipedia.org/wiki/Interpolacja_wielomianowa" class="link">Interpolacja wielomianowa - Wikipedia</a>.</p>
</section>
<section>
  <p>Interpolacja wielomianowa to metoda, która polega na znalezieniu wielomianu przechodzącego przez zbiór zadanych punktów. Jest szczególnie przydatna w sytuacjach, gdy dysponujemy ograniczoną liczbą próbek i chcemy uzyskać funkcję, która może aproksymować dane. Jednym z najczęściej stosowanych podejść jest wykorzystanie wielomianu Lagrange'a. Jego konstrukcja opiera się na wagach zależnych od punktów interpolacji. Wzór jest podany poniżej:</p>
  <p>Wielomian Lagrange'a umożliwia dokładne odwzorowanie funkcji w zadanych punktach, ale może być wrażliwy na tzw. efekt Rungego, szczególnie gdy liczba punktów jest duża.</p>
  <img src="example-polynomial.png" alt="Przykład interpolacji wielomianowej">
  <p>Więcej informacji znajdziesz na stronie: <a href="https://pl.wikipedia.org/wiki/Interpolacja_wielomianowa" class="link">Interpolacja wielomianowa - Wikipedia</a>.</p>
</section>
<section>
  <p>Interpolacja wielomianowa to metoda, która polega na znalezieniu wielomianu przechodzącego przez zbiór zadanych punktów. Jest szczególnie przydatna w sytuacjach, gdy dysponujemy ograniczoną liczbą próbek i chcemy uzyskać funkcję, która może aproksymować dane. Jednym z najczęściej stosowanych podejść jest wykorzystanie wielomianu Lagrange'a. Jego konstrukcja opiera się na wagach zależnych od punktów interpolacji. Wzór jest podany poniżej:</p>
  <p>Wielomian Lagrange'a umożliwia dokładne odwzorowanie funkcji w zadanych punktach, ale może być wrażliwy na tzw. efekt Rungego, szczególnie gdy liczba punktów jest duża.</p>
  <img src="example-polynomial.png" alt="Przykład interpolacji wielomianowej">

  <p>Więcej informacji znajdziesz na stronie: <a href="https://pl.wikipedia.org/wiki/Interpolacja_wielomianowa" class="link">Interpolacja wielomianowa - Wikipedia</a>.</p><p>Więcej informacji znajdziesz na stronie: <a href="https://pl.wikipedia.org/wiki/Interpolacja_wielomianowa" class="link">Interpolacja wielomianowa - Wikipedia</a>.</p>
</section>
<section>
  <p>Wielomian Lagrange'a umożliwia dokładne odwzorowanie funkcji w zadanych punktach, ale może być wrażliwy na tzw. efekt Rungego, szczególnie gdy liczba punktów jest duża.</p>
  <img src="example-polynomial.png" alt="Przykład interpolacji wielomianowej">
  <p>Więcej informacji znajdziesz na stronie: <a href="https://pl.wikipedia.org/wiki/Interpolacja_wielomianowa" class="link">Interpolacja wielomianowa - Wikipedia</a>.</p>
</section>
<section>
  <p>Interpolacja wielomianowa to metoda, która polega na znalezieniu wielomianu przechodzącego przez zbiór zadanych punktów. Jest szczególnie przydatna w sytuacjach, gdy dysponujemy ograniczoną liczbą próbek i chcemy uzyskać funkcję, która może aproksymować dane. Jednym z najczęściej stosowanych podejść jest wykorzystanie wielomianu Lagrange'a. Jego konstrukcja opiera się na wagach zależnych od punktów interpolacji. Wzór jest podany poniżej:</p>
  <p>Wielomian Lagrange'a umożliwia dokładne odwzorowanie funkcji w zadanych punktach, ale może być wrażliwy na tzw. efekt Rungego, szczególnie gdy liczba punktów jest duża.</p>
  <img src="example-polynomial.png" alt="Przykład interpolacji wielomianowej">
  <p>Więcej informacji znajdziesz na stronie: <a href="https://pl.wikipedia.org/wiki/Interpolacja_wielomianowa" class="link">Interpolacja wielomianowa - Wikipedia</a>.</p>
</section>

<section>
  <h2>Interpolacja wielomianowa</h2>
  <p>Interpolacja wielomianowa to metoda, która polega na znalezieniu wielomianu przechodzącego przez zbiór zadanych punktów. Jest szczególnie przydatna w sytuacjach, gdy dysponujemy ograniczoną liczbą próbek i chcemy uzyskać funkcję, która może aproksymować dane. Jednym z najczęściej stosowanych podejść jest wykorzystanie wielomianu Lagrange'a. Jego konstrukcja opiera się na wagach zależnych od punktów interpolacji.</p>
  <img src="../../../assets/images/p.png" alt="Przykład interpolacji wielomianowej" width="500px" height="300px">
  <p>Wielomian Lagrange'a umożliwia dokładne odwzorowanie funkcji w zadanych punktach, ale może być wrażliwy na tzw. efekt Rungego, szczególnie gdy liczba punktów jest duża.</p>
  <p>Więcej informacji znajdziesz na stronie: <a href="https://pl.wikipedia.org/wiki/Interpolacja_wielomianowa" class="link">Interpolacja wielomianowa - Wikipedia</a>.</p>
  <p>Więcej informacji znajdziesz na stronie: <a href="https://eia.pg.edu.pl/documents/184139/40421150/TI_LAB_5_Material_pomocniczy_a.pdf" class="link">Interpolacja wielomianowa - Politechnika Gdańska (pdf)</a>.</p>
</section>

<section>
  <h2>Interpolacja wielomianowa</h2>
  <p>Interpolacja wielomianowa to metoda, która polega na znalezieniu wielomianu przechodzącego przez zbiór zadanych punktów. Jest szczególnie przydatna w sytuacjach, gdy dysponujemy ograniczoną liczbą próbek i chcemy uzyskać funkcję, która może aproksymować dane. Jednym z najczęściej stosowanych podejść jest wykorzystanie wielomianu Lagrange'a. Jego konstrukcja opiera się na wagach zależnych od punktów interpolacji.</p>
  <p>Wielomian Lagrange'a umożliwia dokładne odwzorowanie funkcji w zadanych punktach, ale może być wrażliwy na tzw. efekt Rungego, szczególnie gdy liczba punktów jest duża.</p>
  <p>Więcej informacji znajdziesz na stronie: <a href="https://pl.wikipedia.org/wiki/Interpolacja_wielomianowa" class="link">Interpolacja wielomianowa - Wikipedia</a>.</p>
  <p>Więcej informacji znajdziesz na stronie: <a href="https://eia.pg.edu.pl/documents/184139/40421150/TI_LAB_5_Material_pomocniczy_a.pdf" class="link">Interpolacja wielomianowa - Politechnika Gdańska (pdf)</a>.</p>
</section>

<!-- Początek teorii -->
<h1>Metody Numeryczne</h1>

<section>
  <h2>Interpolacja wielomianowa</h2>
  <p>Interpolacja wielomianowa to metoda, która polega na znalezieniu wielomianu przechodzącego przez zbiór zadanych punktów. Jest szczególnie przydatna w sytuacjach, gdy dysponujemy ograniczoną liczbą próbek i chcemy uzyskać funkcję, która może aproksymować dane. Jednym z najczęściej stosowanych podejść jest wykorzystanie wielomianu Lagrange'a. Jego konstrukcja opiera się na wagach zależnych od punktów interpolacji.</p>
  <img src="../../../assets/images/p.png" alt="Przykład interpolacji wielomianowej" width="500px" height="300px">
  <p>Wielomian Lagrange'a umożliwia dokładne odwzorowanie funkcji w zadanych punktach, ale może być wrażliwy na tzw. efekt Rungego, szczególnie gdy liczba punktów jest duża.</p>
  <p>Więcej informacji znajdziesz na stronie: <a href="https://pl.wikipedia.org/wiki/Interpolacja_wielomianowa" class="link">Interpolacja wielomianowa - Wikipedia</a>.</p>
  <p>Więcej informacji znajdziesz na stronie: <a href="https://eia.pg.edu.pl/documents/184139/40421150/TI_LAB_5_Material_pomocniczy_a.pdf" class="link">Interpolacja wielomianowa - Politechnika Gdańska (pdf)</a>.</p>
</section>

<section>
  <h2>Interpolacja trygonometryczna</h2>
  <p>Interpolacja trygonometryczna to metoda stosowana głównie dla danych okresowych. Pozwala na odwzorowanie funkcji, które mają powtarzalny charakter, takich jak sygnały w elektronice czy dane związane z ruchem harmonicznym. Wzór interpolacyjny bazuje na funkcjach trygonometrycznych sinus i cosinus, co pozwala na dokładne opisanie właściwości danych:</p>
  <img src="../../../assets/images/trigonometric.png" alt="Przykład interpolacji wielomianowej" width="500px" height="300px">
  <p>Metoda ta jest niezwykle skuteczna przy analizie sygnałów i obliczeniach w dziedzinie częstotliwości, jednak wymaga znajomości współczynników Fourierowskich \(a_k\) i \(b_k\), które są obliczane na podstawie danych wejściowych.</p>
  <p>Więcej informacji znajdziesz na stronie: <a href="https://pl.wikipedia.org/wiki/Trigonometric_interpolation" class="link">Interpolacja trygonometryczna - Wikipedia</a>.</p>
</section>

<section>
  <h2>Całkowanie metodą punktu środkowego</h2>
  <p>Metoda punktu środkowego to jedna z najprostszych metod numerycznego całkowania. Zakłada, że wartość funkcji w środku przedziału jest reprezentatywna dla całej szerokości przedziału. Przy założeniu, że funkcja jest "gładka" i zmienia się w sposób przewidywalny, metoda ta daje zadowalające wyniki dla prostych przypadków. Jej wzór wygląda następująco:</p>

  <p>Pomimo swojej prostoty, metoda ta może być mało dokładna w przypadku funkcji o znaczących zmianach w danym przedziale, dlatego jest często stosowana jako metoda porównawcza.</p>
  <img src="../../../assets/images/midpoint.png" alt="Przykład interpolacji wielomianowej" width="500px" height="300px">
  <p>Więcej informacji znajdziesz na stronie: <a href="https://en.wikipedia.org/wiki/Midpoint_method" class="link">Całkowanie numeryczne - Wikipedia</a>.</p>
</section>

<section>
  <h2>Całkowanie metodą Simpsona</h2>
  <p>Metoda Simpsona to bardziej zaawansowana metoda numerycznego całkowania, która aproksymuje funkcję za pomocą paraboli. Podejście to znacząco zwiększa dokładność w porównaniu do prostszych metod, takich jak trapezy czy punkt środkowy. Szczególnie dobrze sprawdza się przy funkcjach "gładkich" i zmiennych w sposób ciągły:</p>

  <p>Metoda Simpsona dzieli obszar na podprzedziały, a następnie stosuje formułę paraboliczną do każdego z nich. Jest to jedna z najpopularniejszych metod całkowania w inżynierii i naukach ścisłych.</p>
  <img src="../../../assets/images/simpson.png" alt="Przykład interpolacji wielomianowej" width="500px" height="300px">
  <p>Więcej informacji znajdziesz na stronie: <a href="https://en.wikipedia.org/wiki/Simpson%27s_rule" class="link">Reguła Simpsona - Wikipedia</a>.</p>
</section>

<section>
  <h2>Całkowanie metodą trapezów</h2>
  <p>Metoda trapezów to klasyczne podejście do numerycznego całkowania, w którym obszar pod wykresem funkcji jest aproksymowany za pomocą trapezów. Przy podziale przedziału całkowania na małe części metoda ta może osiągać wysoką dokładność. Wzór podstawowy jest następujący:</p>

  <p>Metoda trapezów jest szeroko stosowana ze względu na swoją prostotę i intuicyjność, a także na możliwość łatwego rozszerzenia jej na wiele podprzedziałów.</p>
  <img src="../../../assets/images/trapezoidal.png" alt="Przykład interpolacji wielomianowej" width="500px" height="300px">
  <p>Więcej informacji znajdziesz na stronie: <a href="https://en.wikipedia.org/wiki/Trapezoidal_rule" class="link">Metoda trapezów - Wikipedia</a>.</p>
</section>

<section>
  <h2>Rozwiązywanie układów równań metodą Gaussa</h2>
  <p>Metoda Gaussa to algorytm służący do rozwiązywania układów równań liniowych poprzez eliminację zmiennych. Proces ten polega na przekształceniu macierzy układu do postaci trójkątnej, co umożliwia łatwe wyznaczenie wartości poszczególnych zmiennych. Wzór ogólny dla rozwiązania układu wygląda tak:</p>
  <p>Algorytm Gaussa jest szeroko stosowany w matematyce, fizyce i inżynierii ze względu na swoją efektywność i możliwość zastosowania w różnych typach problemów. W praktyce może być modyfikowany, aby poprawić stabilność obliczeń.</p>
  <p>Więcej informacji znajdziesz na stronie: <a href="https://en.wikipedia.org/wiki/Gaussian_elimination" class="link">Eliminacja Gaussa - Wikipedia</a>.</p>
</section>
</div>
