.demo-chart {
  height: 400px;
  width: 600px;
}

.my-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  overflow: scroll;
}

section {
  width: 70%;
  font-size: 22px;
}

figcaption {
  font-size: 14px;
}

h1 {
  font-size: 48px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

h2 {
  font-size: 30px;
}

.left {
  width: 50%;
}

.right {
  min-height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.examples {
  display:inline-block;
  color:#555;
  cursor:pointer;
}

ul {
  list-style: none;
  padding: 0px;
}

ul > li {
  cursor: pointer;
  border:  1px solid black;
}

.tooltip-container {
  position: relative;
  margin-left: 10px;
}

.tooltip-icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  background-color: black;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  font-size: 20px;
  margin-top: 25px;
}

.tooltip-box {
  position: absolute;
  top: 50px;
  left: 25px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  z-index: 10;
  max-width: 600px;
  overflow: scroll;
}

.option {
  display: flex;
  align-items: flex-start;
}

.option p {
  margin: 0;
  margin-right: 8px;
}

.tooltip-container {
  position: relative;
}
