<div class="my-container">

  <div class="search-container">
    <input
      type="text"
      [(ngModel)]="searchQuery"
      (input)="filterSections()"
      (keydown.enter)="navigateToSection()"
      placeholder="Wyszukaj sekcję..."
    >
    <button (click)="navigateToSection()">Szukaj</button>

    <ul *ngIf="filteredSections.length > 0" class="autocomplete-list">
      <li *ngFor="let suggestion of filteredSections" (click)="selectSection(suggestion)">
        {{ suggestion }}
      </li>
    </ul>
  </div>

  <h1>Interpolacja</h1>
  <section>
    Metoda numeryczna polegająca na wyznaczaniu w danym przedziale <i>[a ,b]</i> tzw.
    funkcji interpolującej, która przyjmuje w nim z góry zadane wartości, w ustalonych
    punktach nazywanych węzłami. Metoda ta jest wykorzystywana przy całkowaniu numerycznym(m.in. metoda trapezów, metoda Simpsona), a także pozwala na lokalne
    przybliżenie wartości dowolnej funkcji, co z kolei umożliwia np. łatwiejszą analizę złożonych modeli
    fizycznych. Wśród metod numerycznych służących do wyznaczania wartości funkcji wyróżniamy m.in:
  </section>

  <section>
    <h2 id="Interpolacja wielomianowa">Interpolacja wielomianowa</h2>
    <p>nazywana też interpolacją Lagrange’a – metoda numeryczna przybliżania funkcji tzw. wielomianem Lagrange’a stopnia <i>n</i> przyjmującą w <i>n + 1</i>
    punktach, zwanych węzłami interpolacji, wartości takie same jak przybliżana funkcja</p>
    <div>Złożoność obliczeniowa tej metody wynosi: O(n^2)
      <div class="tooltip-container">
        <i class="tooltip-icon" (click)="toggleTooltip()">?</i>
        <div class="tooltip-box" *ngIf="visibleTooltip === 'pressed'">
          Algorytmiczna złożoność obliczeniowa to sposób określenia, jak szybko rośnie liczba operacji potrzebnych do
          <br>wykonania algorytmu w zależności od rozmiaru danych wejściowych (np. liczby punktów).
          Przykładowo:
          <ul>
            <li>Złożoność O(n) oznacza, że czas działania rośnie liniowo z liczbą danych.</li>
            <li>Złożoność O(n^2) oznacza, że liczba operacji rośnie proporcjonalnie do kwadratu liczby danych – algorytm staje się znacznie wolniejszy przy
              dużych wejściach.</li>
          </ul>
        </div>
      </div>
    </div>

    <img src="../../../assets/images/p.png" alt="Ilustracja interpolacji wielomianowej" width="500px" height="300px">
    <figcaption>Ilustracja interpolacji wielomianowej</figcaption>

    <div [innerHTML]="lagrangePolynomial"></div>
    W celu zobaczenia działania metody w praktyce <div class="examples" (click)="showExample('Polynomial')">kliknij tutaj</div>
  </section>

  <section>
    <h2 id="Interpolacja trygonometryczna">Interpolacja trygonometryczna</h2>
    <p>Interpolacja trygonometryczna to metoda stosowana głównie dla danych okresowych. Pozwala na odwzorowanie funkcji, które mają powtarzalny charakter,
      takich jak sygnały w elektronice czy dane związane z ruchem harmonicznym. Metoda ta jest niezwykle skuteczna przy analizie sygnałów i obliczeniach
      w dziedzinie częstotliwości</p>
    <p>Złożoność obliczeniowa tej metody wynosi: O(n^2)</p>
    <img src="../../../assets/images/trigonometric.png" alt="Ilustracja interpolacji trygonometrycznej" width="500px" height="300px">
    <figcaption>Ilustracja interpolacji trygonometrycznej</figcaption>

    <div [innerHTML]="trigonometricInterpolation"></div>
    W celu zobaczenia działania metody w praktyce <div class="examples" (click)="showExample('Trigonometric')">kliknij tutaj</div>
  </section>

  <h1>Całkowanie</h1>
  <section>
    ogólne określenie wielu różnych, choć powiązanych ze sobą, pojęć analizy matematycznej. Najczęściej przez „całkę” rozumie się całkę oznaczoną lub
    całkę nieoznaczoną, choć istnieje wiele innych odmian całki. W tym miejscu będziemy się zajmować konkretnie całkami Riemanna, czyli w prostych słowach
    całek pozwalających na obliczenia pola pod wykresem wybranej funkcji na określonym przedziale <i>[a ,b]</i>. Aby dało się obliczyć całkę w sensie
    Riemanna, funkcja ta na tym przedziale musi być ograniczona, czyli nie może dążyć do nieskończoności, oraz musi być ciągła na prawie całym analizowany
    przedziale, przy czym na potrzeby tego kalkulatora rozpatrujemy wyłącznie funkcji całkowicie ciągłe. Całki mają bardzo szerokie zastosowanie w wielu
    dziedzinach: fizyce, chemii i wielu innych. Jedno z podstawowych zastosowań całki to liczenie pól powierzchni, długości łuków czy objętości
    kształtów nieregularnych czyli takich, które ciężko jest wyliczyć z podstawowych wzorów.
  </section>

  <section>
    <h2 id="Całkowanie metodą punktu środkowego">Całkowanie metodą punktu środkowego</h2>
    <p>Metoda punktu środkowego to jedna z najprostszych metod numerycznego całkowania. Zakłada, że wartość funkcji w środku przedziału jest reprezentatywna
      dla całej szerokości przedziału. Przy założeniu, że funkcja jest "gładka" i zmienia się w sposób przewidywalny, metoda ta daje zadowalające wyniki dla
      prostych przypadków. Ze względu na swoją prostotę, metoda ta może być mało dokładna w przypadku funkcji o znaczących zmianach w danym przedziale,
      dlatego jest często stosowana jako metoda porównawcza.</p>
      <p>Złożoność obliczeniowa tej metody wynosi: O(n)</p>
    <img src="../../../assets/images/midpoint.png" alt="Ilustracja całkowania metodą punktu środkowego" width="500px" height="300px">
    <figcaption>Ilustracja całkowania metodą punktu środkowego</figcaption>

    <div [innerHTML]="midpointIntegration"></div>
    W celu zobaczenia działania metody w praktyce <div class="examples" (click)="showExample('Midpoint')">kliknij tutaj</div>
  </section>

  <section>
    <h2 id="Całkowanie metodą trapezów">Całkowanie metodą trapezów</h2>
    <p>Metoda trapezów to klasyczne podejście do numerycznego całkowania, w którym obszar pod wykresem funkcji jest aproksymowany za pomocą trapezów.
      Przy podziale przedziału całkowania na małe części metoda ta może osiągać wysoką dokładność. Podobnie jak metoda punktu środkowego, metoda
      trapezów jest szeroko stosowana ze względu na swoją prostotę i intuicyjność, a także na możliwość łatwego rozszerzenia jej na wiele podprzedziałów.</p>
      <p>Złożoność obliczeniowa tej metody wynosi: O(n)</p>
    <img src="../../../assets/images/trapezoidal.png" alt="Ilustracja całkowania metodą trapezów" width="500px" height="300px">
    <figcaption>Ilustracja całkowania metodą trapezów</figcaption>

    <div [innerHTML]="trapezoidalIntegration"></div>
    W celu zobaczenia działania metody w praktyce <div class="examples" (click)="showExample('Trapezoidal')">kliknij tutaj</div>
  </section>

  <section>
    <h2 id="Całkowanie metodą Simpsona">Całkowanie metodą Simpsona</h2>
    <p>Metoda Simpsona to bardziej zaawansowana metoda numerycznego całkowania, która aproksymuje funkcję za pomocą paraboli. Podejście to znacząco zwiększa
       dokładność w porównaniu do prostszych metod, takich jak trapezy czy punkt środkowy. Szczególnie dobrze sprawdza się przy funkcjach "gładkich" i
       zmiennych w sposób ciągły. Metoda Simpsona dzieli obszar na podprzedziały, a następnie stosuje formułę paraboliczną do każdego z nich. Jest to jedna
       z najpopularniejszych metod całkowania w inżynierii i naukach ścisłych.</p>
       <p>Złożoność obliczeniowa tej metody wynosi: O(n)</p>
    <img src="../../../assets/images/simpson.png" alt="Ilustracja całkowania metodą Simpsona" width="500px" height="300px">
    <figcaption>Ilustracja całkowania metodą Simpsona</figcaption>

    <div [innerHTML]="simpsonsIntegration"></div>
    W celu zobaczenia działania metody w praktyce <div class="examples" (click)="showExample('Simpsons')">kliknij tutaj</div>
  </section>

  <section>
    <h2 id="Całkowanie metodą Gaussa-Kronroda">Całkowanie metodą Gaussa-Kronroda</h2>
    <p>Metoda całkowania Gaussa-Kronroda stanowi rozszerzenie kwadratury Gaussa, poprzez dodanie dodatkowych punktów (węzłów) w celu
      zwiększenia dokładności oraz oszacowania błędu. Wykorzystuje strategicznie wybrane węzły i wagi, które są wyznaczane na podstawie wielomianów
      ortogonalnych (np. wielomianów Legendre’a). Metoda ta jest szczególnie skuteczna dla funkcji gładkich i stosowana w adaptacyjnych algorytmach
      całkowania.</p>
    <p>Złożoność obliczeniowa tej metody wynosi: O(n)</p>
    <div [innerHTML]="gaussKronrodIntegration"></div>
    W celu zobaczenia działania metody w praktyce <div class="examples" (click)="showExample('GaussKronrod')">kliknij tutaj</div>
  </section>

  <h1>Układy równań</h1>
  <section>
    zbiór pewnej liczby równań, powiazanych ze sobą poprzez wspólne niewiadome. Rozwiązaniem układu równań jest każde przyporządkowanie wartości
    (liczb w przypadku układu równań algebraicznych, funkcji w przypadku układu równań funkcyjnych itd.) niewiadomym, które spełniają każde z równań
    składowych. Można też powiedzieć, że rozwiązaniem układu równań jest część wspólna zbiorów rozwiązań wszystkich tych równań. Ta strona będzie poświęcona
    wyłącznie rozwiązywaniu układów równań pierwszego stopnia, czyli takich w których wszystkie równania są liniowe, bądź też innymi słowy niewiadome
    występują wyłącznie w pierwszej potędze.
  </section>

  <section>
    <h2 id="Wzory Kramera">Wzory Kramera</h2>
    <p>Wzory Kramera pomagają w rozwiązywaniu układów równań liniowych o <i>n</i> równaniach i <i>n</i> niewiadomych, w których wykorzystuje się wyznaczniki macierzy.
      Warunkiem stosowania tej metody jest, aby wyznacznik macierzy głównej układu (macierzy współczynników) był różny od zera.  W geometrii różniczkowej
      wykorzystuje się je (zwykle niejawnie), stosując twierdzenie o funkcji uwikłanej</p>
    <p>Złożoność obliczeniowa tej metody wynosi: O(n! * n)</p>
      <div [innerHTML]="cramerMethod"></div>
      W celu zobaczenia działania metody w praktyce <div class="examples" (click)="showExample('Kramer')">kliknij tutaj</div>
  </section>

  <section>
    <h2 id="Metoda wielosiatkowa">Metoda wielosiatkowa</h2>
    <p>Metoda wielosiatkowa to zaawansowana iteracyjna technika numeryczna stosowana do rozwiązywania układów równań liniowych i nieliniowych, szczególnie tych,
      które wynikają z dyskretyzacji równań różniczkowych cząstkowych. U swoich podstaw wykorzystuje metodę Gaussa-Seidla, wzbogacając ją o dodatkową
      redukcję błędu w każdej iteracji oraz możliwość uproszczenia macierzy, w celu redukcji kosztów obliczeniowych. Jej główną zaletą względem
      innych metod jest efektywność i zdolność do przyspieszania procesu zbieżności wykorzystując różne poziomy rozdzielczości siatki, która uwydatnia się
      zwłaszcza przy rozwiązywaniu skomplikowanych układów równań o sporej liczbie niewiadomych. </p>
      <p>Złożoność obliczeniowa tej metody wynosi: O(n)</p>

      <div [innerHTML]="multigridMethod"></div>
      W celu zobaczenia działania metody w praktyce <div class="examples" (click)="showExample('Multigrid')">kliknij tutaj</div>
  </section>
</div>
