<div class="my-container">

  <h1>Interpolacja</h1>
  <section>
    Metoda numeryczna polegająca na wyznaczaniu w danym przedziale <i>[a ,b]</i> tzw.
    funkcji interpolującej, która przyjmuje w nim z góry zadane wartości, w ustalonych
    punktach nazywanych węzłami. Metoda ta jest wykorzystywana przy całkowaniu numerycznym(m.in. metoda trapezów, metoda Simpsona), a także pozwala na lokalne
    przybliżenie wartości dowolnej funkcji, co z kolei umożliwia np. łatwiejszą analizę złożonych modeli
    fizycznych. Wśród metod numerycznych służących do wyznaczania wartości funkcji wyróżniamy m.in:
  </section>

  <section>
    <h2>Interpolację wielomianową</h2>
    <p>nazywana też interpolacją Lagrange’a – metoda numeryczna przybliżania funkcji tzw. wielomianem Lagrange’a stopnia <i>n</i> przyjmującą w <i>n + 1</i>
    punktach, zwanych węzłami interpolacji, wartości takie same jak przybliżana funkcja</p>
    <img src="../../../assets/images/p.png" alt="Ilustracja interpolacji wielomianowej" width="500px" height="300px">
    <figcaption>Ilustracja interpolacji wielomianowej</figcaption>

    <div [innerHTML]="lagrangePolynomial"></div>
    W celu zobaczenia działania metody w praktyce <div class="examples" (click)="showExample('Polynomial')">kliknij tutaj</div>
  </section>

  <section>
    <h2>Interpolację trygonometryczną</h2>
    <p>Interpolacja trygonometryczna to metoda stosowana głównie dla danych okresowych. Pozwala na odwzorowanie funkcji, które mają powtarzalny charakter,
      takich jak sygnały w elektronice czy dane związane z ruchem harmonicznym. Metoda ta jest niezwykle skuteczna przy analizie sygnałów i obliczeniach
      w dziedzinie częstotliwości</p>
    <img src="../../../assets/images/trigonometric.png" alt="Przykład interpolacji wielomianowej" width="500px" height="300px">
    <figcaption>Ilustracja interpolacji trygonometrycznej</figcaption>

    <div [innerHTML]="trigonometricInterpolation"></div>
    W celu zobaczenia działania metody w praktyce <div class="examples" (click)="showExample('Trigonometric')">kliknij tutaj</div>
  </section>

  <h1>Całkowanie</h1>
  <section>
    ogólne określenie wielu różnych, choć powiązanych ze sobą, pojęć analizy matematycznej. Najczęściej przez „całkę” rozumie się całkę oznaczoną lub
    całkę nieoznaczoną, choć istnieje wiele innych odmian całki. W tym miejscu będziemy się zajmować konkretnie całkami Riemanna, czyli w prostych słowach
    całek pozwalających na obliczenia pola pod wykresem wybranej funkcji na określonym przedziale <i>[a ,b]</i>. Aby dało się obliczyć całkę w sensie
    Riemanna, funkcja ta na tym przedziale musi być ograniczona, czyli nie może dążyć do nieskończoności, oraz musi być ciągła na prawie całym analizowany
    przedziale, przy czym na potrzeby tego kalkulatora rozpatrujemy wyłącznie funkcji całkowicie ciągłe. Całki mają bardzo szerokie zastosowanie w wielu
    dziedzinach: fizyce, chemii i wielu innych. Jedno z podstawowych zastosowań całki to liczenie pól powierzchni, długości łuków czy objętości
    kształtów nieregularnych czyli takich, które ciężko jest wyliczyć z podstawowych wzorów.
  </section>

<section>
  <h2>Całkowanie metodą punktu środkowego</h2>
  <p>Metoda punktu środkowego to jedna z najprostszych metod numerycznego całkowania. Zakłada, że wartość funkcji w środku przedziału jest reprezentatywna
    dla całej szerokości przedziału. Przy założeniu, że funkcja jest "gładka" i zmienia się w sposób przewidywalny, metoda ta daje zadowalające wyniki dla
    prostych przypadków. Ze względu na swoją prostotę, metoda ta może być mało dokładna w przypadku funkcji o znaczących zmianach w danym przedziale,
    dlatego jest często stosowana jako metoda porównawcza.</p>
  <img src="../../../assets/images/midpoint.png" alt="Przykład interpolacji wielomianowej" width="500px" height="300px">
  <figcaption>Ilustracja całkowania metodą punktu środkowego</figcaption>

  <div [innerHTML]="midpointIntegration"></div>
  W celu zobaczenia działania metody w praktyce <div class="examples" (click)="showExample('Midpoint')">kliknij tutaj</div>
</section>

<section>
  <h2>Całkowanie metodą Simpsona</h2>
  <p>Metoda Simpsona to bardziej zaawansowana metoda numerycznego całkowania, która aproksymuje funkcję za pomocą paraboli. Podejście to znacząco zwiększa dokładność w porównaniu do prostszych metod, takich jak trapezy czy punkt środkowy. Szczególnie dobrze sprawdza się przy funkcjach "gładkich" i zmiennych w sposób ciągły:</p>

  <p>Metoda Simpsona dzieli obszar na podprzedziały, a następnie stosuje formułę paraboliczną do każdego z nich. Jest to jedna z najpopularniejszych metod całkowania w inżynierii i naukach ścisłych.</p>
  <img src="../../../assets/images/simpson.png" alt="Przykład interpolacji wielomianowej" width="500px" height="300px">
  <p>Więcej informacji znajdziesz na stronie: <a href="https://en.wikipedia.org/wiki/Simpson%27s_rule" class="link">Reguła Simpsona - Wikipedia</a>.</p>
</section>

<section>
  <h2>Całkowanie metodą trapezów</h2>
  <p>Metoda trapezów to klasyczne podejście do numerycznego całkowania, w którym obszar pod wykresem funkcji jest aproksymowany za pomocą trapezów. Przy podziale przedziału całkowania na małe części metoda ta może osiągać wysoką dokładność. Wzór podstawowy jest następujący:</p>

  <p>Metoda trapezów jest szeroko stosowana ze względu na swoją prostotę i intuicyjność, a także na możliwość łatwego rozszerzenia jej na wiele podprzedziałów.</p>
  <img src="../../../assets/images/trapezoidal.png" alt="Przykład interpolacji wielomianowej" width="500px" height="300px">
  <p>Więcej informacji znajdziesz na stronie: <a href="https://en.wikipedia.org/wiki/Trapezoidal_rule" class="link">Metoda trapezów - Wikipedia</a>.</p>
</section>

<section>
  <h2>Rozwiązywanie układów równań metodą Gaussa</h2>
  <p>Metoda Gaussa to algorytm służący do rozwiązywania układów równań liniowych poprzez eliminację zmiennych. Proces ten polega na przekształceniu macierzy układu do postaci trójkątnej, co umożliwia łatwe wyznaczenie wartości poszczególnych zmiennych. Wzór ogólny dla rozwiązania układu wygląda tak:</p>
  <p>Algorytm Gaussa jest szeroko stosowany w matematyce, fizyce i inżynierii ze względu na swoją efektywność i możliwość zastosowania w różnych typach problemów. W praktyce może być modyfikowany, aby poprawić stabilność obliczeń.</p>
  <p>Więcej informacji znajdziesz na stronie: <a href="https://en.wikipedia.org/wiki/Gaussian_elimination" class="link">Eliminacja Gaussa - Wikipedia</a>.</p>
</section>
</div>
