.demo-chart {
  height: 400px;
  width: 600px;
}

.my-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}

.left {
  width: 50%;
}

.right {
  min-height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  line-height: 50%;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  background-color: rgb(0, 0, 0);
  color: white;
}

button:hover {
  background-color: #222;
}

.chatResponse {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  line-height: 1.5;
  white-space: pre-line;
}
