<div id="dialog-menu">
  <form (ngSubmit)="Submit()" id="dialog-form">
    <div id="dialog-points" class="dialog-input">
      <input type="number" name="x0" [(ngModel)]="data.coefficients[0][0]"/>
      <label class="dialog-label">x</label>
      +
      <input type="number" name="y0" [(ngModel)]="data.coefficients[0][1]"/>
      <label class="dialog-label">y</label>
      =
      <input type="number" name="z0" [(ngModel)]="data.constants[0]"/>
    </div>
    <div id="dialog-points" class="dialog-input">
      <input type="number" name="x1" [(ngModel)]="data.coefficients[1][0]"/>
      <label class="dialog-label">x</label>
      +
      <input type="number" name="y1" [(ngModel)]="data.coefficients[1][1]"/>
      <label class="dialog-label">y</label>
      =
      <input type="number" name="z1" [(ngModel)]="data.constants[1]"/>
    </div>
    <input type="submit" value="Oblicz"/>
  </form>
</div>
