<div id="dialog-menu">
  <form (ngSubmit)="Submit()" id="dialog-form">
    <div id="dialog-points" class="dialog-input">
      <label class="dialog-label" for="pointsNumber">Liczba zmiennych</label>
      <input type="number" id="pointsNumber" name="pointsNumber" [(ngModel)]="variablesNumber" (input)="UpdateVariablesNumber($event)" class="input-field"/>
    </div>
    <div *ngFor="let row of [].constructor(variablesNumber); let q = index" class="equation-row">
      <div class="dialog-input equation">
        <ng-container *ngFor="let column of [].constructor(variablesNumber); let w = index">
          <span>x{{ w }}</span>
          <input type="text" [name]="'x' + q + '_' + w" [(ngModel)]="data.coefficients[q][w]" class="input-field term-input"/>
          <span *ngIf="w < variablesNumber - 1" class="operator">+</span>
        </ng-container>
        <span class="operator">=</span>
        <span>z{{ q }}</span>
        <input  type="text" [name]="'z' + q" [(ngModel)]="data.constants[q]" class="input-field constant-input"/>
      </div>
    </div>

    <div id="dialog-file-upload" class="dialog-input">
      <label class="dialog-label" for="fileUpload">Dodaj plik</label>
      <input type="file" id="fileUpload" (change)="LoadDataFromFile($event)" accept=".txt" class="file-input"/>
    </div>

    <div class="dialog-submit">
      <input type="submit" value="Oblicz" class="submit-button" />
    </div>
  </form>
</div>
