<nav class="navbar navbar-expand-lg soft-green">
  <div class="container-fluid">
    <a class="navbar-brand title" routerLink="">Strona Testowa</a>
    <button class="navbar-toggler" type="button" interpolationData-bs-toggle="collapse" interpolationData-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Menu główne</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="methods" routerLinkActive="active-link">Metody</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.disabled]="!(isLoggedIn | async)" routerLink="results" routerLinkActive="active-link">Wyniki</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.disabled]="!(isLoggedIn | async)" routerLink="/" routerLinkActive="active-link" (click)="onLogout()">Wyloguj</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
